*.bak
*.bin
*.cache
*.compiled
*.dbg
*.dll
*.exe
*.log
*.lps
*.npp
*.o
*.obj
*.old
*.or
*.ppu
*.res
Thumbs.db
backup
doc
lib
temp
ppas.bat
.directory
cetodo/cetodo
cesyms/cesyms
lazproj/cetodo
lazproj/cesyms
lazproj/coedit
icons/generate_res
